{% extends 'template.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block stylesheet %}

{% endblock %}

{% block content %}

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <img class="masthead-avatar mb-5" src="public/assets/img/logo/logo.jpg" alt="logo" />
            <h1 class="masthead-heading text-uppercase mb-0">BELARIF Hocine</h1>

            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="masthead-subheading font-weight-light mb-0">Hocine est disponible pour vos projets Php, Symfony et Wordpress</p>
        </div>
    </header>

    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">Mon cv</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row">
                <div class="col-lg-4 ms-auto"><p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.</p></div>
                <div class="col-lg-4 me-auto"><p class="lead">You can create your own custom avatar for the masthead, change the icon in the dividers, and add your email address to the contact form to make it fully functional!</p></div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/theme/freelancer/">
                    <i class="fas fa-download me-2"></i>
                    Free Download!
                </a>
            </div>
        </div>
    </section>

    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactez-moi</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    {% if errorMessage is defined and errorMessage is not null %}
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{ errorMessage }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endif %}
                    <form method="post" action="index.php?action=home">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="lastName" type="text" name="lastName"/>
                            <label for="lastName">Nom</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="firstName" type="text" name="firstName"/>
                            <label for="firstName">Prénom</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" name="email"/>
                            <label for="email">Adresse e-mail</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" style="height: 10rem" name="message"></textarea>
                            <label for="message">Message</label>
                        </div>
                        <button class="btn btn-primary btn-xl" type="submit" name="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>

{% endblock %}