{% extends 'template.html.twig' %}

{% block title %} Accueil {% endblock %}

{% block stylesheet %}
    <link href="public/css/frontoffice/modal.css" rel="stylesheet"/>
{% endblock stylesheet %}

{% block content %}
    <!-- modal tools-->
    <div class="modal-tools">
      <div class="modal-tools-content">
        <div class="modal-tools-btn">
          <button id="close-modal-tools">fermer</button>
        </div>
        <div class="tech-infos">
          <h2>Pour cette réalisation, j'ai utilisé :</h2>
          <ul>
            <li>Html5</li>
            <li>Css3</li>
            <li>Php7</li>
            <li>Uml</li>
            <li>POO</li>
            <li>PhpStorm</li>
            <li>JavaScript</li>
            <li>Bootstrap 5</li>
            <li>Git & GitHub</li>
            <li>Architecture MVC</li>
            <li>Responsive design</li>
            <li>Création d'un front-office et d'un back-office</li>
          </ul>
        </div>
      </div>
    </div>

    <header class="masthead bg-primary text-white text-center">
        <div class="container d-flex align-items-center flex-column">
            <img class="masthead-avatar mb-5" src="public/assets/img/logo/logo.jpg" alt="logo"/>
            <h1 class="masthead-heading text-uppercase mb-0">BELARIF Hocine</h1>

            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <p class="masthead-subheading font-weight-light mb-0">Hocine est disponible pour vos projets Php/Symfony et React</p>
        </div>
    </header>

    <!-- About Section-->
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-white">Mon cv</h2>
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="text-center mt-4">
                <a class="btn btn-xl btn-outline-light" href="public/assets/cv.pdf" download="cv-hocine-belarif.pdf">
                    <i class="fas fa-download me-2"></i>
                    Téléchargement
                </a>
            </div>
        </div>
    </section>

    <!-- Contact Section-->
    <section class="page-section" id="contact">
        <div class="container">
            <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contactez-moi</h2>
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-7">
                    {% if errorMessage is defined and errorMessage is not null %}
                        <div class="alert alert-danger alert-dismissible fade show" role="alert">
                            {{ errorMessage }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endif %}
                    {% if session.flash.success is defined and session.flash.success is not null %}
                        {% for message in session.flash.success %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert"
                                        aria-label="Close"></button>
                            </div>
                        {% endfor %}
                    {% endif %}
                    <form method="post" action="index.php?action=sendMessage">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="lastName" type="text" name="lastName" required/>
                            <label for="lastName">Nom</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="firstName" type="text" name="firstName" required/>
                            <label for="firstName">Prénom</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" name="email" required/>
                            <label for="email">Email</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="subject" type="text" name="subject" required/>
                            <label for="subject">Objet</label>
                        </div>
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" style="height: 10rem" name="message"
                                      required></textarea>
                            <label for="message">Message</label>
                        </div>
                        <button class="btn btn-primary btn-xl" type="submit" name="submit">Envoyer</button>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
