{% extends 'template.html.twig' %}

{% block title %} {% endblock title %}

{% block stylesheet %}
    <link href="public/css/frontoffice/login.css" rel="stylesheet">
{% endblock stylesheet %}

{% block content %}
    <div class="container">
        <div id="error-login-message">
            {% if identificationError is defined and identificationError is not null %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ identificationError }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        </div>
        <div class="success-register-user">
            {% if successRegister is defined and successRegister is not null %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ successRegister }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center">
            <form method="post" action="index.php?action=login" class="box">
                <h2>Se connecter</h2>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Mot de passe" required>
                <input type="submit" name="submit" value="Connexion">
            </form>
        </div>
    </div>
{% endblock content %}

{% block javascript %}
    <script>
        var elt = document.getElementsByClassName("close");
        elt.alert('close')
    </script>
{% endblock javascript %}

