{% extends 'template.html.twig' %}

{% block title %} S'inscrire {% endblock title%}

{% block stylesheet %}
    <link href="public/css/frontoffice/register.css" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="d-flex justify-content-center">
                    <form onsubmit="event.preventDefault()" class="box">
                        <h2>S'inscrire</h2>
                        <input type="text" name="lastName" placeholder="Nom">
                        <input type="text" name="firstName" placeholder="Prénom">
                        <input type="text" name="email" placeholder="Email">
                        <input type="password" name="password" placeholder="Mot de passe">
                        <input type="submit" name="submit" value="Envoyer" href="#">
                        <p>Vous avez déjà un compte ? <a href="#"> connectez-vous</a></p>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}