{% extends 'template.html.twig' %}

{% block title %} S'inscrire {% endblock title%}

{% block stylesheet %}
    <link href="public/css/frontoffice/register.css" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="container">
        <div id="error-addUser-message">
            {% if identificationError is defined and identificationError is not null %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    {{ identificationError }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        </div>
        <div id="success-addUser-message">
            {% if successMessage is defined and successMessage is not null %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    {{ successMessage }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endif %}
        </div>
        <div class="d-flex justify-content-center">
            <form method="post" action="index.php?action=register" class="box">
                <h2>S'inscrire</h2>
                <input type="text" name="lastName" placeholder="Nom">
                <input type="text" name="firstName" placeholder="Prénom">
                <input type="email" name="email" placeholder="Email">
                <input type="password" name="password" placeholder="Mot de passe">
                <input type="submit" name="submit" value="Envoyer">
                <p>Vous avez déjà un compte ? <a href="index.php?action=login"> connectez-vous</a></p>
            </form>
        </div>

    </div>
{% endblock content %}

