{% extends 'template_backoffice.html.twig' %}

{% block title %} Modifier la publication {% endblock title %}

{% block stylesheet %}
    <link href="public/css/backoffice/editPost.css" rel="stylesheet" />
{% endblock stylesheet %}

{% block content %}
    <main>
        <div class="container-fluid px-4">
            <h4 class="mt-4"> Gestion des publications </h4>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="index.html">Tableau de bord</a></li>
                <li class="breadcrumb-item active">modifier la publication</li>
            </ol>
            <div class="card mb-4">
                <div class="card-header">
                    <i class="me-1"></i>
                    Modifier la publication
                </div>
                <div class="card-body">
                    <form>
                        <div class="mb-3 row">
                            <label for="title" class="col-sm-2 col-form-label">Titre</label>
                            <div class="col-sm-10">
                                <input id="title" class="form-control" type="text" name="title">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="firstName" class="col-sm-2 col-form-label">Chapô</label>
                            <div class="col-sm-10">
                                <input id="firstName" class="form-control" type="text" name="firstName">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="author" class="col-sm-2 col-form-label">Auteur</label>
                            <div class="col-sm-10">
                                <input id="author" class="form-control" type="text" name="author">
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="content" class="col-sm-2 col-form-label">Contenu</label>
                            <div class="col-sm-10">
                                <textarea id="content" class="form-control" name="content"></textarea>
                            </div>
                        </div>
                        <div class="mb-3 row">
                            <label for="Status" class="col-sm-2 col-form-label">Statut</label>
                            <div class="col-sm-10">
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                    <label class="form-check-label" for="flexRadioDefault1">
                                        publier
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                    <label class="form-check-label" for="flexRadioDefault2">
                                        brouillon
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="">
                            <button class="btn btn-primary">Mettre à jour</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock content %}